/* Contenedor detalle */
.detalle-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
}

.detalle-imagen img {
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.detalle-info {
  flex: 1;
}

.detalle-info h2 {
  margin-bottom: 0.5rem;
}

.detalle-info .precio {
  font-size: 1.3rem;
  font-weight: bold;
  color: #e67e22;
}

.detalle-info .descripcion {
  margin: 1rem 0;
  line-height: 1.5;
}

/* Acciones */
.acciones {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.acciones input {
  width: 60px;
  padding: 5px;
  text-align: center;
}

/* Productos recomendados */
.recomendados {
  padding: 2rem;
}

.recomendados .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
}

/* .card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
} */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.btn_detalle{
  display: inline-block;
  background: #e67e22;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
}

.btn_detalle:hover {
  background: #d35400;
}

.popup-oculto {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-contenido {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
}

.popup-contenido img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}