/*importando las fuentes nuevas*/
@font-face {
    font-family: 'MrDafoe';
    src: url('../font/MrDafoe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pacifico';
    src: url('../font/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-award {
  font-size: 28px;
  color: gold;
}
.icon-birthday {
  font-size: 40px;
  color: #fff;
}

/*fondo para el inicio ''index''*/
.inicio-fondo {
    position: relative;
    background-image: url('../img/pastel_index_01.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    overflow: hidden; 
    z-index: 0;
}



/* imagen negra por sobre */
.inicio-fondo::before {
    content: "";                  
    position: absolute;           
    top: 0;                       
    left: 0;                      
    width: 100%;                  
    height: 100%;                 
    background-color: rgba(0,0,0,0.4); 
    z-index: 1;                   
    pointer-events: none;        
}

/*todo sobre menu inicio ------------------------------------------------*/
.navbar {
    background: transparent;
    z-index: 100; /* sobre otros elementos */
    position: fixed;
    width: 100%;
}

.navbar .navbar-logotipo {
    text-decoration: none; 
    font-family: 'MrDafoe';
    font-size: 45px; 
    color: #fff !important; 
}

.navbar .nav-link {
    font-family: 'Pacifico';
    font-size: 20px; 
    color: #fff !important; 
}

/* Hover de links del navbar */
.navbar .nav-link:hover {
    color: bisque !important;
}
.navbar .navbar-logotipo:hover {
    color: bisque !important;
}


/*todo sobre texto de bienvenida----------------------------------------*/
.inicio-fondo .container {
    position: relative;
    z-index: 2; /* sobre la capa negra */
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.inicio-titulo h1 {
    font-family: 'MrDafoe';
    font-size: 80px; 
    color: #fff; 
}
.inicio-eslogan {
    font-family: 'Nunito';
    font-size: 25px; 
    color: #fff; 
}