body {
            display: flex;
            justify-content: center;   /* Centrado horizontal */
            align-items: center;       /* Centrado vertical */
            height: 100vh;             /* Ocupa toda la altura */
            margin: 0;
            background-color: #050401;
        }

        #formulario {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            background: #fff;
        }

        h1 {
            text-align: center;
        }

        table {
            margin: 0 auto;
        }

    .password-container button {
    background: #694236;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 5px;
}



